/* Styles for the Hash Generator Card */
.hash-card {
    background-color: transparent;
    
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    width: fit-content;
    margin: auto;
    
}

/* Styling the heading */
.hash-card h5 {
    font-size: 24px;
    color: #28a745;  /* Primary Green color */
    margin-bottom: 20px;
}

/* Styling the link button */
.hash-card a {
    display: inline-block;
    text-decoration: none;
    background-color: #90EE90;  /* Light Green */
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.hash-card a:hover {
    background-color: #66c466;  /* Slightly darker green on hover */
}
